name: Build & Push to GHCR

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    env:
      ENVIRONMENT: production
      API_PREFIX: /api

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build \
            --build-arg ENVIRONMENT=${{env.ENVIRONMENT }} \
            --build-arg API_PREFIX=${{ env.API_PREFIX }} \
            -t ghcr.io/${{ github.repository_owner }}/fastapi-app:latest .

      - name: Push image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/fastapi-app:latest

